<ul>
    <%@movies.each do |movie|%>
    <li><%= movie.title %> (<%= year_of(movie) %>)
        <ul>
            <p><b>Total gross:</b> <%= total_gross(movie) %></p>
            <p><b>Rating:</b> <%= movie.rating %></p>
            <p><b>Description:</b> <%= truncate(movie.description, length: 40, separator: ' ') %></p>
        </ul>
    </li>
    <%end%>
</ul>