<ul>
    <%@movies.each do |movie|%>
    <li><%= movie.title %>, <%= movie.released_on %>
        <ul>
            <p><b>Total gross:</b> <%= number_to_currency(movie.total_gross) %></p>
            <p><b>Rating:</b> <%= movie.rating %></p>
            <p><b>Description:</b> <%= movie.description %></p>
        </ul>
    </li>
    <%end%>
</ul>